@model IEnumerable<Domain.Entities.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Imtahanlar</h1>

<p>
    <a asp-action="Create">Imtahan əlavə et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.ExamId">Dəyiş</a> |
                    <a asp-action="Detail" asp-route-id="@item.ExamId">Ətraflı</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExamId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
